*{
    padding: 0;
    margin: 0;
}
#barra{
    background-color: rgb(77, 177, 143);
    color: rgb(0, 0, 0);
    text-indent: 50%;
    font-style: oblique;
    font-size: 60px;
    
}
#barraLateral{
    margin: -55vh -1.5vw;
    background-color: rgb(0, 0, 0);
    height: 500vh;
    width: 21vh;
    color: rgb(255, 255, 255);
    text-align: center;
}
#rod1{
    margin: 4vh 3vh;
    font-size: 2vh;
    width: 25vh;
    text-align: justify;
}
footer{
    background-color: rgb(36, 33, 33);
    height: 50vh; 
    margin: 45vh -1.5vh;
    display: flex;
    color: rgb(255, 255, 255);
    
}

#logo2{
    position: absolute; 
	left: 1px; /* posiciona para a esquerda */ 
	top: 0px; /* posiciona para baixo */
}
#lisEsp{
    position: absolute; 
	left: 30px; /* posiciona para a esquerda */ 
	top: 140px; 
    list-style: none;
    font-size: 20pt;
}
#centro{
    margin: 9vh 40vh;
    height: 20vh;
    width: 150vh;
    
}
h1{
    text-align: center;
}
#mapa{
   display: flex; 
   float: right;
   height: 90vw;
   width: 200px;
   margin: -400px 10px;

}
#menu{
    position:static; 
}
